<style type="text/css">
  .barcode-tab {
    margin: 0 0 10px 20px;
  }

  .barcode-tab a {
    color: blue;
    text-decoration: underline;
  }
  .p-tabl {
    margin-bottom: 5px;
  }

  html[data-netbox-color-mode=dark] .barcode-tab a {
    color: blue;
    text-decoration: underline;
  }

  table td {
    font-weight: normal;
    padding: 3px;
    font-size: 18px;
  }

  html[data-netbox-color-mode=dark] table td {
    font-size: 18px;
  }

  .barcode-tab-empty {
    width: 30px;
  }

  @media print {
    .p-tabl {
      font-size: 18px;
    }
  }
</style>
